.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}

td {
    border: 1px solid #dddddd;
}

table.dataTable tr:nth-child(even) {
    background-color: #dddddd;
}

.right-justified {
    text-align: right;
}